.list-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
}

button{
  font-weight:700 ;
  border: none;
  border-radius: 10px;
  min-width: 10px;
  min-height: 30px;
  background-color: firebrick; 
}

h3,h4{
  margin: 10px;
}

.titulo{
  color: green;
}
